.bg-1 {
  background-color: #ffa12c;
  height: 1100px;
  width: 1920px;
  position: relative;
  z-index: 1;
  border: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.bg-2 {
  background-color: #ffc500;
  width: 1800px;
  height: 1050px;
  position: absolute;
  left: 60px;
  z-index: 2;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.content {
  color: #fff;
  /* Header */
  font-family: iCiel Koni;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
}
.nameevent {
  color: var(--text, #23221f);
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.location {
  color: #6c7272;
  /* 18 medium */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.startdate {
  color: #444;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.enddate {
  color: #444;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.bi-calendar4-week {
  background-color: #ffb809;
  width: 24px;
  height: 24px;
}
.price {
  color: #fa7d09;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.16px;
}
.button-sen {
  width: 200px;
  height: 40px;
  background-color: #ff000a;
  color: white;
  font-family: "iCiel Koni-Black", Helvetica;
  font-size: 30px;
  left: 0;
  letter-spacing: 0;

  top: 0;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #bd000b;
  color: var(--w, #fff);
  text-align: center;
  font-family: iCiel Koni;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.68px;
}
.card{
  width: 18rem;
}