.home {
  width: 1800px;
  height: 950px;
  position: absolute;
  z-index: 2;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 73px;
}
.group1 {
  margin-top: 100px;
}
.img-logo2 {
  margin-top: 40px;
  margin-left: 90px;
}
.text-lable1 {
  color: #ffffff;
  font-family: "iCiel Koni-Black", Helvetica;
  font-size: 72px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  top: 0;
  white-space: nowrap;
}
.text-lable2 {
  color: #ffffff;
  font-family: "iCiel Koni-Black", Helvetica;
  font-size: 72px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  top: 0;
  white-space: nowrap;
}
.lisa-img {
  width: 380px;
  height: 450px;
  margin-left: -140px;
  margin-top: 190px;
  position: absolute;
  z-index: 4;
}
.group-img {
  width: 700px;
  height: 400px;
  margin-top: -280px;
  margin-left: 1050px;
}
.balloon1-img {
  width: 130px;
  height: 174px;
  margin-top: -390px;
  margin-left: 980px;
}
.balloon2-img {
  width: 144px;
  height: 205px;
  margin-top: -290px;
  margin-left: 700px;
}
.balloon3-img {
  width: 166px;
  height: 237px;
  margin-top: 300px;
  margin-left: 1600px;
}
.balloon4-img {
  width: 130px;
  height: 174px;
  margin-top: -370px;
  margin-left: 980px;
}
.balloon5-img {
  width: 155px;
  height: 210px;
  margin-top: -670px;
  margin-left: -1220px;
}
.button_dropdow {
  width: 50px;
  height: 50px;
  color: white;
  font-size: 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 0px #ffd27b;
}
/* nodebook */
.note-book1 {
  background-image: url(../../assect/img/group-1.png);
  height: 585px;
  width: 950px;
  position: absolute;
  top: 300px;
  left: 150px;
  z-index: 3;
  margin-top: 50px;
}

.note-book2 {
  background-image: url(../../assect/img/group-2.png);
  height: 580px;
  width: 540px;
  position: absolute;
  top: 300px;
  left: 1120px;
  z-index: 3;
  margin-top: 50px;
}
.lorem-ipsum-dolor {
  color: #23221f;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0.7;
  top: 0;
}
.text-wrapper {
  color: #23221f;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 36px;
  opacity: 0.8;
  top: 0;
  white-space: nowrap;
}
.note-wrapper {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: inset -1px 3px 3px #b25b0b80;
  height: 56px;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 350px;
}
.bi-star-fill {
  color: yellow;
  margin-left: 50px;
}
.note-wrapper1 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: inset -1px 3px 3px #b25b0b80;
  height: 56px;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 163px;
}
.img_calendar {
  background-color: orange;
  width: 50px;
  height: 50px;
 border-radius: 15px;
  box-shadow: 0px 5px 0px #ffd27b;
}
.note-wrapper2 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: inset -1px 3px 3px #b25b0b80;
  height: 56px;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 410px;
}
.button_put {
  margin-top: 20px;
  margin-left: 60px;
  background-color: #ff000a;
  color: white;
  font-size: 30px;
  width: 300px;
  height: 70px;
  position: absolute;
  box-shadow: 10px 10px 10px #bd000b;
  font-family: iCiel Koni;
  border-radius: 10px;
}

.button_put:hover {
  background-color: #ff000a;
  border: none;
  color: white;
}

