.home {
  width: 1800px;
  height: 950px;
  position: absolute;
  z-index: 2;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 73px;
}
.group1 {
  margin-top: 100px;
}
.img-logo2 {
  margin-top: 10px;
  margin-left: 90px;
}
.text-lable1 {
  color: #ffffff;
  font-family: iCiel Koni;
  font-size: 72px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  top: 0;
  white-space: nowrap;
}
.text-lable2 {
  color: #ffffff;
  font-family: iCiel Koni;
  font-size: 72px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  top: 0;
  white-space: nowrap;
  margin-top: -30px;
}
.lisa-img {
  width: 380px;
  height: 450px;
  margin-left: -140px;
  margin-top: 190px;
  position: absolute;
  z-index: 4;
}
.group-img {
  width: 700px;
  height: 400px;
  margin-top: -280px;
  margin-left: 1050px;
}
.balloon1-img {
  width: 130px;
  height: 174px;
  margin-top: -390px;
  margin-left: 980px;
}
.balloon2-img {
  width: 144px;
  height: 205px;
  margin-top: -290px;
  margin-left: 700px;
}
.balloon3-img {
  width: 166px;
  height: 237px;
  margin-top: 300px;
  margin-left: 1600px;
}
.balloon4-img {
  width: 130px;
  height: 174px;
  margin-top: -370px;
  margin-left: 980px;
}
.balloon5-img {
  width: 175px;
  height: 230px;
  margin-top: -50px;
  margin-left: -120px;
  z-index: 4;
  position: absolute;
}
.home_group5 {
  width: 275px;
  height: 71px;
  margin-top: -50px;
  position: absolute;
  margin-left: 1280px;
  margin-top: 30px;
  z-index: 4;
}
.home_vector {
  width: 145px;
  height: 585px;
  position: absolute;
  margin-left: 1066px;
  margin-top: 48px;
  z-index: 4;
}
.balloon4-img {
  width: 148px;
  height: 233px;
  margin-top: -50px;
  position: absolute;
  margin-left: 1680px;
  margin-top: 30px;
  z-index: 4;
}
.frame {
  width: 37px;
  height: 40px;
}
.button_dropdow {
  width: 50px;
  height: 50px;
  color: white;
  font-size: 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 0px #ffd27b;
  margin-top: 47px;
  margin-left: -15px;
}
.button_dropdow:hover{
  color: white;
}
/* nodebook */
.note-book1 {
  /* background-image: url(../../assect/img/group-1.png); */
  background-color: #fde8b3;
  height: 585px;
  width: 950px;
  position: absolute;
  top: 300px;
  left: 150px;
  z-index: 3;
  margin-top: 50px;
  border-radius: 30px;
  box-shadow: 0px 10px 5px #ffca7b;
  border: none;
}
.note-book2 {
  width: 925.608px;
  height: 559.225px;
  flex-shrink: 0;
  background-color: #fff6d4;
  border-radius: 30px;
  margin-left: 10px;
  border: dashed #ffb489;
  margin-top: 12px;
}

.note-book3 {
  /* background-image: url(../../assect/img/group-2.png); */
  background-color: #fde8b3;
  height: 585px;
  width: 540px;
  position: absolute;
  top: 300px;
  left: 1120px;
  z-index: 3;
  margin-top: 50px;
  border-radius: 30px;
  margin-left: 10px;
  border-radius: 30px;
  box-shadow: 0px 10px 5px #ffca7b;
  border: none;
}
.note-book4 {
  background-color: #fff6d4;
  width: 511.979px;
  height: 558.99px;
  flex-shrink: 0;
  background-color: #fff6d4;
  border-radius: 30px;
  margin-left: 10px;
  border: dashed #ffb489;
  margin-top: 12px;
}
.lorem-ipsum-dolor {
  color: #23221f;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0.7;
  top: 0;
  margin-top: 50px;
  margin-left: 50px;
}
.text-wrapper {
  color: #23221f;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 36px;
  opacity: 0.8;
  top: 0;
  white-space: nowrap;
  margin-left: 70px;
}
.note-wrapper {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: inset -1px 3px 3px #b25b0b80;
  height: 56px;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 350px;
}
.bi-star-fill {
  color: yellow;
  margin-left: 50px;
}
.note-wrapper1 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: inset -1px 3px 3px #b25b0b80;
  height: 56px;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 163px;
}
.img_calendar {
  background-color: orange;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 0px 5px 0px #ffd27b;
  margin-left: -15px;
}
.note-wrapper2 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: inset -1px 3px 3px #b25b0b80;
  height: 56px;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 410px;
}
.btn_pt {
  margin-top: -20px;
  margin-left: 110px;
  background-color: #ff000a;
  color: white;
  font-size: 30px;
  width: 300px;
  height: 70px;
  position: absolute;
  box-shadow: 10px 10px 10px #bd000b;
  font-family: iCiel Koni;
  border-radius: 10px;
}
