.navbar_bg {
  background-color: #ED7200;
  width: 1920px;
  height: 100px;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  box-shadow: 0px 10px 10px red;
  z-index: 3;
  margin-right: 20px;
}
.header-nav{
  text-decoration: none;
  color: var(--w, #fff);
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}

.header-nav.active {
  padding: 10px 24px;
  border-radius: 25px;
  border: 2px solid var(--w, #fff);
}
.nav-contat {
  display: flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: none;
  color: white;
  background-color: #ed7200;
  margin-top: 20px;
  border: none;

  color: var(--w, #fff);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.bi-telephone-fill {
  size: 10px;
}
.nav-group{
  margin-top: 30px;
}