.card-event{
      background-color: #ffa12c;
  width: 1800px;
  height: 950px;
  margin-left: 50px;
}
.content {
  color: #fff;
  font-family: iCiel Koni;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
}
.next-buttons{
    margin-top: 230px;
}
.previous-buttons{
    margin-top: 230px;
}
