.lab_payment {
  margin-top: 150px;
  color: var(--w, #fff);
  /* Header */
  font-family: iCiel Koni;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px; /* 104.167% */
}
.img_lavin {
  position: absolute;
  margin-left: -50px;
  margin-top: 200px;
  width: 300px;
  height: 450px;
}
.bg_payment1 {
  width: 1520px;
  height: 640px;
  background-color: #fde8b3;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #ffca7b;
  margin-left: -90px;
}
.bg_payment2 {
  width: 1490px;
  height: 610px;
  background-color: #fff6d4;
  margin-top: 13px;
  border-radius: 20px;
  border: dashed #ffb489;
}
.btn-danger {
  background-color: #ff000a;
  border-radius: 15px;
  color: var(--w, #fff);
  text-align: center;
  font-family: iCiel Koni;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 200px;
  height: 50px;
  box-shadow: 0px 10px 5px #bd000b;
}
.totalcard{
  color: var(--text, #23221F);
/* 20 medium */
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
}
.pagepay{
  color: var(--text, #23221F);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px;
}