.card {
  background-color: white;
  width: 340px;
  height: 500px;
  border-radius: 30px;
}

.nameevent {
  color: var(--text, #23221f);
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.location {
  color: #6c7272;
  /* 18 medium */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.startdate {
  color: #444;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.enddate {
  color: #444;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.bi-calendar4-week {
  background-color: #ffb809;
  width: 24px;
  height: 24px;
}
.price {
  color: #fa7d09;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.16px;
}
.button-sen {
  width: 200px;
  height: 40px;
  background-color: #ff000a;
  font-family: "iCiel Koni-Black", Helvetica;
  font-size: 30px;
  left: 0;
  letter-spacing: 0;
  border: none;
  top: 0;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #bd000b;
  color: var(--w, #fff);
  text-align: center;
  font-family: iCiel Koni;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.68px;
}
.custom-card {
  width: 1790.437px;
  height: 956.92px;
  border-radius: 20px;
  background: #fff;
}
.card-img-top {
  width: 340px;
  height: 225px;
border-radius: 30px 30px 0px 0px;
}
